body{ 
    margin: 0px;
    padding: 0px;   
    border: 20px; 
    background-color: rgb(187, 69, 138);
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #navbar{ 
        margin: 0px;
        padding: 5px;
        background-color: rgb(245, 156, 215);
        color:rgb(134, 13, 80);
        text-align: center;
    }

    img{
        width: 400px;
        height: 300px;
    }
        
    .foto{
        width: 400px;
        height: 300px;
        display: flex;
    } 

    .camisa{
        margin: 40px;
        padding: 40px;
        background-color: rgb(253, 151, 222);
        text-align: center;
        border: 5px;
        border-style: solid;
        border-color: rgb(92, 27, 63); 
    }

    #camisas{
        margin: 50px;
        padding: 50px;
        background-color: rgb(253, 151, 222);
        display: flex;
        border: 5px;
        border-style: solid;
        border-color: rgb(92, 27, 63);
    }    

    #acessorios{
        margin: 10px;
        padding: 5px;
        background-color: rgb(253, 151, 222);
        display: flex;
        text-align: center;
        border: 5px;
        border-style: solid;
        border-color: rgb(92, 27, 63);
}
.c{
        margin: 50px;
        padding: 50px;
        background-color: rgb(253, 151, 222);
        border: 5px;
        border-style: solid;
        border-color: rgb(92, 27, 63);
}
.carrossel{
    display: flex;
    overflow: hidden;
    width: 300px;
}
.carrossel img{
    width: 100px;
    transition: transform 0.5s ease-in-out;
}

























































